// -----------------------------
// Overrides for variables
// -----------------------------

// Adjust margins for the modal
.modal-dialog {
    margin: 10px auto;
}

// Actual modal
.modal-content {
    border-radius: $border-radius-none;
}

// Modal header
// Close icon
.modal-header .close {
    font-size: 60px;
    left: 90%;
    margin-top: -10px;
    position: absolute;
    opacity: 1;
    
    // Remove focus
    &:focus {
        outline: none;
    }
}

// Override slide animation to remove it
.modal.fade, 
.modal.fade .modal-dialog {
    @include translate(0, 0);
}

// Adjust close button position for small devices
@media (max-width: $screen-xs-max) {
    .modal-header .close {
        left: 85%;
    }
}
