// -----------------------------
// Theme related styles
// -----------------------------

// Class for wrapping content in the center of the screen
.wrapper {
    background-color: rgba($white, .95);
    padding: 160px 80px 240px;
}

// Styles for the user login section
#user-login {
    background: url(../img/003.png) repeat;
    height: 100%;

    .wrapper {
        background: transparent;
    }
}

// Wrapper for the entire portfolio content
#portfolio-wrapper {
    display: none;
}

// Container for preloader
#preloader-container {
    background-color: rgba($white, .9);
    height: 100vh;
    width: 100%;
}

// Styles for the preloader
#breathe-preloader {
    animation: breathe_animation 5s infinite linear;
    background: #000;
    border-radius: 50px;
    height: 30px;
    left: calc(50% - 15px);
    position: absolute;
    top: calc(50% - 15px);
    transform: translate(-50%, -50%);
    width: 30px;
    z-index: 1000;
}

// Animation for the preloader
@-webkit-keyframes breathe_animation {
    0%   {transform: rotate(0) scale(.7);}
    50%  {transform: rotate(180deg) scale(1); background: #3f3f3f;}
    100% {transform: rotate(360deg) scale(.7);}
}

@keyframes breathe_animation {
    0%   {transform: rotate(0) scale(.7);}
    50%  {transform: rotate(180deg) scale(1); background: #3f3f3f;}
    100% {transform: rotate(360deg) scale(.7);}
}

// Styles for about section
#about {
    background: url(../img/001.png) no-repeat center center fixed;
    background-size: cover;

    .wrapper {
        margin-top: 160px;
        padding-top: 80px;
    }
}

// Styles for the journey section
#journey {
    background: url(../img/004.jpg) no-repeat center center fixed;
    background-size: cover;
}

// Styles for the case study intro section
#one-journey {
    background-color: $dark-grey;

    img {
        max-width: 100%;
        height: auto;
    }

    h1,
    .h1,
    h3,
    .h3 {
        color: $pastel-brown;

        &:after {
            background-color: $pastel-brown;
        }
    }
}

// Styles for the case study modal body section
#case-study {
    display: none;

    .col-xs-10 {
        margin-bottom: 30px;
    }

    // Class to add custom padding for layout purposes
    .adjust-padding {
        padding-top: 20px;
    }
}

// Styles for the recent projects section
#recent-projects {
    background-color: $light-grey;
}

// Styles for the website design and development section
#website-design-development {
    background-color: $white;

    .h3 {
        padding: 0 120px;
    }
}

// Class for giving a cardboard look
.cardboard {
    background: url(../img/003.png) repeat;

    h1.text-uppercase {
        margin: 70px 0 60px;
    }

    .container {
        padding-bottom: 50px;
    }
}

// Styles for project cards
.project-card {
    background: $white;
    height: 300px;
    margin: 0 auto 80px;
    max-width: 250px;
    position: relative;
    @include box-shadow(rgba($black, .5) 0 3px 4px 1px);

    .h4 {
        display: block;
        top: 165px;
    }
    
    // Styles for project title and role
    .project-blurb {
        font-weight: 400;
        padding: 5px 12px;
        
        // Class to adjust position of role on the card
        .role {
            font-size: 11px;
            position: absolute;
            top: 88%;
        }
    }
    
    // Styles for displaying short info on project card on mouse hover 
    .project-info {
        background-color: rgba(0, 0, 0, .8);
        color: $white;
        height: 200px;
        line-height: 20px;
        opacity: 0;
        padding: 20px 10px;
        position: absolute;
        top: 0;
        @include transition(opacity .3s);

        &.show {
            opacity: 1;
        }
    }

    // Hover state for the card
    &:hover {
        background: $dark-grey;
        cursor: pointer;
        
        // Change color of the blurb
        .project-blurb,
        .h4 {
            color: $white;
        }
    }
}

// Styles for the tools section
#tools {
    background-color: $light-grey;

    .wrapper {
        padding: 80px 20px 240px;
    }

    h1.text-uppercase {
        margin-bottom: 35px;
    }
    
    // Styles for each skill category
    .skills-section {
        border-bottom: 1px solid rgba($dark-grey, .2);
        overflow: auto;
        padding-top: 35px;
        
        // Styles for list of skills
        .skills {
            margin-bottom: 25px;
            padding: 0 40px 0 0;
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}

// Styles for the contact section
#contact {
    background-color: $dark-grey;
    color: $pastel-brown;
    padding-bottom: 50px;

    h1,
    .h1,
    h2,
    .h2 {
        color: $pastel-brown;
    }

    h1:after,
    .h1:after {
        background-color: $pastel-brown;
    }
    
    // Styles for the social media icons from font awesome
    .social-media {
        color: $white;
        display: block;
        margin: 50px 0;

        &:hover {
            color: $link-hover-color;
            @include transition(all .15s ease-out);
        }
    }
}

// Class for detailed description in the project modal
.project-details {
    padding: 0 50px 40px;

    h2,
    .h2 {
        padding-top: 40px;
    }
}

// Styles for bullet lists
.bullet-list {
    padding: 0 0 0 19px;
}

// Media queries
@media(max-width: $screen-xs-max) {
    .wrapper {
        padding: 160px 20px 240px;
    }

    #about {
        .wrapper {
            margin-top: 60px;
            padding: 80px 20px 30px;
        }
    }

    #website-design-development {
        .h3 {
            padding: 0 60px;
        }
    }
}

// .img-responsive does not work properly on Firefox.
// Overrides to ensure Firefox displays images properly
@-moz-document url-prefix() { 
    .img-responsive {
        display: inline;
        width: 100%;
    }
}

// Handling styles for touch devices (provided by Modernizr)
.touch {
    // Show cardboard style for about section
    #about {
        background: url(../img/003.png) repeat;
    }
}
