// -----------------------------
// Theme related styles
// -----------------------------

.wrapper {
    background-color: rgba($white, 0.95);
    padding: 160px 80px 240px 80px;
}

.logo {
    padding: 50px 16px 16px 16px;
    margin: 0 auto;
    width: 50%;
}

#about {
    background: url(../img/001.png) no-repeat center center fixed;
    background-size: cover;

    .wrapper {
        margin-top: 160px;
        padding-top: 80px;
    }
}

#journey {
    background: url(../img/004.jpg) no-repeat center center fixed;
    background-size: cover;
}

#one-journey {
    // background: url(../img/006.jpg) no-repeat center center fixed;
    // background-size: cover;
    background-color: $light-blue;

    img {
        max-width: 100%;
        height: auto;
    }
}

#recent-projects {
    background-color: $white;
}

.cardboard {
    background: url(../img/007.png) repeat;

    h1.text-uppercase {
        margin: 70px 0 60px 0;
    }

    .container {
        padding-bottom: 30px;
    }
}

.project-card {
    background: $white;
    margin: 0 auto 30px auto; 
    position: relative;
    max-width: 250px;
    @include box-shadow(rgba($black, 0.5) 0px 3px 4px 1px);

    .h4 {
        color: $white;
        display: block;
        padding: 0 15px;
        position: absolute;
        top: 165px;
    }

    .project-blurb {
        font-weight: 400;
        padding: 15px;
    }

    // Hover state for the card
    &:hover {
        background: $dark-grey;
        cursor: pointer;
        
        // Change color of the blurb
        .project-blurb {
            color: $white;
        }
    }
}

#tools {
    background: url(../img/009.jpg) no-repeat center center fixed;;
    background-size: cover;

    .wrapper {
        padding: 80px 20px 240px 20px;
    }

    h1.text-uppercase {
        margin-bottom: 35px;
    }

    .skills-section {
        border-bottom: 1px solid rgba($dark-grey, 0.2);
        overflow: auto;
        padding-top: 35px;

        .h2 {
            padding-left: 46px;
        }
        
        // Styles for list of skills
        .skills {
            margin-bottom: 25px;
            padding: 0 40px 0 0;
        }
    }
}

// Styles for contact section
#contact {
    background-color: $light-grey;
    padding-bottom: 50px;
    
    // Styles for the social media icons from font awesome
    .social-media {
        color: $dark-green;
        display: block;
        margin: 50px 0;
    }
}

// Class for detailed description in the overlay card
.project-details {
    padding: 0 50px 40px 50px;

    h2,
    .h2 {
        line-height: 35px;
        padding-top: 40px;
    }

    .work-description {
        padding: 0 0 0 19px;
    }
}

// Media queries
@media(max-width: $screen-xs-max){
    .wrapper {
        padding: 160px 20px 240px 20px;
    }

    #about {
        .wrapper {
            margin-top: 60px;
            padding: 80px 20px 30px 20px;
        }
    }

    .project-card {
        max-width: 550px;
        
        .h4 {
            top: 80%;
        }

        .project-blurb {
            left: 250px;
            position: absolute;
            top: 0;
        }
    }
}
