// -----------------------------
// Overrides for typography
// -----------------------------

// h1, .h1,
// h2, .h2,
// .emphasis {
//     text-align: center;
// }

h1, .h1 {
    font-weight: $font-weight-h1;
    
    &::after {
        background: $dark-grey;
        content: '';
        display: block;
        height: 2px;
        margin: 20px auto 40px;
        width: 200px;
    }
}

h2, .h2 {
    line-height: 40px;
    font-weight: $font-weight-h2;
}

h3, .h3 {
    font-family: $h3-font-family;
    font-weight: $font-weight-h3;
    line-height: 34px;
}

h4, .h4 {
    font-family: $h4-font-family;
    font-weight: $font-weight-h4;
}

// Class for emphasizing text
.emphasis {
    font-weight: $font-weight-h1;
}

// Overrides for blockquotes
blockquote {
    border-left: none;
    font-size: 24px;
    color: $dark-grey;
    font-family: 'Merriweather', sans-serif;
    padding: 10px 60px 0 60px;
    text-align: center;

    &:before {
        background: $dark-grey;
        content: '';
        display: block;
        height: 2px;
        margin: 20px auto 40px;
        width: 200px;
    }

    &:after {
        background: $dark-grey;
        content: '';
        display: block;
        height: 2px;
        margin: 40px auto 40px;
        width: 200px;
    }
}
