// -----------------------------
// Overrides for variables
// -----------------------------

// Portfolio colors
$black:         #000;
$dark-grey:     #3f3f3f;
$light-grey:    #dee0e3;
$pastel-brown:  #c1c1c1;
$white:         #fdfdfd;

// Bootstrap overrides for `<body>`
$body-bg:               $white;
$text-color:            $dark-grey;

// Misc
$form-group-min-width:  200px; // Set min width for form-group

// Bootstrap global textual link overrides
$link-color:                    $pastel-brown;
$link-hover-color:              darken($link-color, 15%);

// Bootstrap button overrides
$btn-primary-color:             $white;
$btn-primary-bg:                transparent;
$btn-primary-border:            $white;

$btn-secondary-color:           $dark-grey;
$btn-secondary-bg:              transparent;
$btn-secondary-border:          $dark-grey;

// Bootstrap typography overrides
$font-family-sans-serif:  'Open Sans', sans-serif;
$font-family-base:        $font-family-sans-serif;
$font-size-base:          14px;

$font-size-h1:            floor(($font-size-base * 2.28)); // ~32px
$font-size-h2:            floor(($font-size-base * 1.7)); // ~24px
$font-size-h3:            ceil(($font-size-base * 1.42)); // ~20px
$font-size-h4:            floor(($font-size-base * 1.28)); // ~18px

$font-weight-h1:          700;
$font-weight-h2:          500;
$font-weight-h3:          400;
$font-weight-h4:          600;

$headings-font-family:    'Oswald', sans-serif;
$h3-font-family:          $font-family-sans-serif;
$h4-font-family:          $font-family-sans-serif;
$headings-color:          $dark-grey;

// Bootstrap buttons overrides
$btn-font-weight:         bold;
$btn-font-size:           floor(($font-size-base * 1.14)); // ~16px

// Transitions
$default-transition: .15s ease-out;

// Bootstrap modals overrides
$modal-inner-padding:                   0;
$modal-title-padding:                   80px 0 0 0;
$modal-content-bg:                      $white;
$modal-content-border-color:            none;
$modal-content-fallback-border-color:   none; // **for IE8**
$modal-header-border-color:             none;
$modal-lg:                              940px;
$zindex-modal-background:               0;
// Remove Modal borders' radius
$border-radius-none:                    0;

// Bootstrap carousel overrides
$carousel-bg:                       $dark-grey;
$carousel-text-shadow:              none;
$carousel-control-color:            $white;
$carousel-indicator-active-bg:      $white;
$carousel-indicator-border-color:   $white;
$carousel-caption-color:            $white;

