// -----------------------------
// Overrides for variables
// -----------------------------

// Portfolio colors
$black:         #000;
$brown-green:   #54564f;
$dark-green:    #74975b;
$dark-grey:     #3f3f3f;
$light-blue:    #c7e7ef;
$light-grey:    #dee0e3;
$light_yellow:  #e4be6c;
$pastel-brown:  #c1c1c1;
$white:         #fdfdfd;

// Misc
$border-radius-none:    0;

// Bootstrap global textual link overrides
$link-color:                    $pastel-brown;
$link-hover-color:              darken($link-color, 15%);

// Bootstrap button overrides
$btn-primary-color:             $white;
$btn-primary-bg:                transparent;
$btn-primary-border:            $white;

// Bootstrap overrides for `<body>`
$body-bg:               $white;
// Bootstrap overrides for text color on `<body>`
$text-color:            $dark-grey;

// Bootstrap typography overrides
$font-family-sans-serif:  'Open Sans', sans-serif;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          14px;
// $font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
// $font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.28)); // ~32px
$font-size-h2:            floor(($font-size-base * 1.7)); // ~24px
$font-size-h3:            ceil(($font-size-base * 1.42)); // ~20px
$font-size-h4:            floor(($font-size-base * 1.28)); // ~18px

$font-weight-h1:          700;
$font-weight-h2:          500;
$font-weight-h3:          400;
$font-weight-h4:          600;

$headings-font-family:    'Oswald', sans-serif;
$h3-font-family:          $font-family-sans-serif;
$h4-font-family:          $font-family-sans-serif;
$headings-color:          $dark-grey;

// Bootstrap buttons overrides
$btn-font-weight:         bold;
$btn-font-size:           floor(($font-size-base * 1.14)); // ~16px

// Transitions
$default-transition: .15s ease-out;

// Bootstrap modals overrides
// Padding applied to the modal body
$modal-inner-padding:           0;
// Padding applied to the modal title
$modal-title-padding:           80px 0 0 0;
// Modal title line-height
// $modal-title-line-height:     $line-height-base !default;
// Background color of modal content area
$modal-content-bg:                             $white; //
// Modal content border color
$modal-content-border-color:                   none; //
// Modal content border color **for IE8**
$modal-content-fallback-border-color:          none; //
// Modal backdrop background color
$modal-backdrop-bg:             #000 !default;
// Modal backdrop opacity
$modal-backdrop-opacity:        .5 !default; 
// Modal header border color
$modal-header-border-color:     none; //
// Modal footer border color
$modal-footer-border-color:     $modal-header-border-color !default;
// Modal large size
$modal-lg:                      940px;
// Changing modal backdrop z-index so that the modal appears properly
$zindex-modal-background:       0;

// Bootstrap carousel overrides
$carousel-bg:                        $dark-grey;
$carousel-text-shadow:                        none;

$carousel-control-color:                      $white;
$carousel-control-width:                      15% !default;
$carousel-control-opacity:                    .5 !default;
$carousel-control-font-size:                  20px !default;

$carousel-indicator-active-bg:                $white;
$carousel-indicator-border-color:             $white;

$carousel-caption-color:                      $white;;

