// colors

$color-1: #3f3f3f; // dark grey
$color-2: #3f3f3f; // dark grey
$color-3: #3f3f3f; // dark grey
$color-4: #3f3f3f; // dark grey
$color-5: #000; // black
$color-6: #000; // black
$color-7: #fdfdfd; // black
